/*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: violet;
  font-size: 2rem;
  padding: 10px;
}

.menu {
  width: 30%;
  min-height: 80vh;
  background-color: red;
  float: left;
  font-size: 2rem;
}

.post {
  width: 70%;
  float: right;
  background-color: green;
  min-height: 80vh;
  font-size: 1.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: cornflowerblue;
  width: 100%;
  padding: 20px;
  font-size: 2rem;
} */

/* .main {
  background-color: rgb(238, 238, 238);
  height: 90vh;
  display: flex;
  justify-content: space-between;
} */
